[Unit]
Description=Banana backup daemon
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/bananagent routine

[Install]
WantedBy=multi-user.target
